$main-font-color:#011C44;
$font-hover-color:#2B7FFF;
$button-font-color:#FFF;
$button-bg-color: #2B7FFF;
$title-font-sub-color:#2B7FFF;

$social-link-color:$main-font-color;
$social-link-hover-color:$button-font-color;

$burgerButton:$button-font-color;


$backgroundMobileMenu:$button-font-color;

$input-form-color:#747272;