/* @font-face {
    font-family: "Play";
    src: local("Play"),
      url("../fonts.Play/Play-Regular.ttf") format("truetype"),
      url("../fonts.Play/Play-Bold.ttf") format("truetype");
  }
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url("../fonts.Play/Roboto-Black.ttf") format("truetype"),
      url("../fonts.Play/Roboto-Thin.ttf") format("truetype"),
      url("../fonts.Play/Roboto-Regular.ttf") format("truetype"),
      url("../fonts.Play/Roboto-Medium.ttf") format("truetype"),
      url("../fonts.Play/Roboto-Light.ttf") format("truetype"),
      url("../fonts.Play/Roboto-Bold.ttf") format("truetype");
      
      font-weight: 400;

      
  } */